body {
    background-color:rgb(50, 50, 50);
    color: #22CCBB;
    font-family: monospace;
    size: 13px;
}

#text {
    width: 500px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}