body {
    background-color: black;
    color: #22CCBB;
    font-family: monospace;
    size: 13px;
}

#text {
    width: 700px;
    font-size: 39px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}